* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 200px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}