body {
    height: 100%;
    background-color: var(--blue-dark3);    
}
html {
    height: 100%;
}
menu {
    gap: 40px;
}
section {
    padding: 48px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.container {
    width: 95%;
    max-width: 1200px;
}
.sign-up {
    border: 0;
    color: white;
    padding: 0;
    height: min-content;
}
.main-page {
    position: relative;
    height: calc(100%);
    padding: 60px 10px 0px;
    .overlay {
        background-image: url(/assets/background/home-background.jpg);
        background-position: 50% 100%;
        background-size: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        filter: blur(4px) brightness(0.7);
        z-index: -10;
    }
    .container {
        width: 100%;
        max-width: 1200px;
        letter-spacing: 1px;
        margin-bottom: 32px;
    }
}
.section2 {
    .container {
        gap: 32px;
    }
    .card {
        padding: 10px 5px;
        width: 231px;
        height: 212px;
        border-radius: 10px;
        gap: 10px;
        transition: 0.25s;
        cursor: pointer;
        .icon {
            width: 60px;
            height: 60px;
            border-radius: 5px;
            background-color: var(--blue-icon);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 60%;
                opacity: 0.6;
            }
        }
    }
    .card:hover {
        transform: scale(1.05);
        filter: brightness(1.3);
    }
    @media only screen and (max-width: 1024px) {
        .card {
            width: calc((100% - 20px * 1) / 2);
        }
        .card:hover {
        transform: scale(1.02);
        filter: brightness(1.3);
        }
    } 
}
.section3 {
    .container {
        gap: 32px;
    }
    .card {
        width: calc((100% - 45px * 2) / 3);
        height: 244px;
        padding: 10px;

        .image {
            border-radius: 10px;
            --image: url("/");
            background-image: var(--image);
            flex: 1;
            background-color: var(--blue-dark2);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 50%;
            transition: 0.25s;
            cursor: pointer;
        }
        .image:hover {
            background-size: 110%;
        }
        .HTML {
            --image: url(/assets/course/html&css.jpg);
        }
        .JS {
            --image: url(/assets/course/javascript.jpg);
        }
        .Design {
            --image: url(/assets/course/design.jpg);
        }
        .C {
            --image: url(/assets/course/c.png);
        }
        .Kotlin {
            --image: url(/assets/course/kotlin.png);
        }
    }
    @media only screen and (max-width: 1024px) {
        .card {
            width: calc((100% - 45px * 1) / 2);
        }
    }
    @media only screen and (max-width: 660px) {
        .card {
            width: calc((100% - 10px * 1) / 2);
        }
    }
}